<p-toolbar>
  <div class="p-toolbar-group-start">
  </div>
  <div class="p-toolbar-group-end">
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-user" label="User"></button>
  </div>
</p-toolbar>

<div class="container">
  <p-table [value]="articles" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" dataKey="id"
           [lazy]="true" (onLazyLoad)="onLazyLoad($event)" styleClass="p-datatable-striped" [scrollable]="true"
           selectionMode="single" (onRowSelect)="onSelect($event.data)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%">Title</th>
        <th style="width:15%">Author</th>
        <th style="width:35%">Description</th>
        <th style="width:10%">Image</th>
        <th style="width:15%">Published</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article>
      <tr [pSelectableRow]="article">
        <td> {{article.title}} </td>
        <td> {{article.author}} </td>
        <td> {{article.description}} </td>
        <td>
          <img [src]="article.urlToImage" width="200" height="150" alt="" class="article-image">
        </td>
        <td>{{ article.publishedAt | date: 'fullDate'}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="floating-button">
  <p-button icon="pi pi-plus" [rounded]="true" severity="success" size="large" (onClick)="createArticle()"></p-button>
</div>
