<p-toolbar>
  <div class="p-toolbar-group-start">
    <p class="brand">Newshub</p>
  </div>
  <div class="p-toolbar-group-end">
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-user"></button>
  </div>
</p-toolbar>

<div class="container">
  <div class="py-3">
    <form [formGroup]="searchForm">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
        <span class="p-float-label">
            <input id="search" type="text" pInputText formControlName="search" [pKeyFilter]="alphanumericWithSpace">
            <label for="search">Search</label>
          </span>
      </div>
    </form>
  </div>

  <p-table [value]="articles" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" dataKey="id"
           [lazy]="true" (onLazyLoad)="onLazyLoad($event)" styleClass="p-datatable-striped" [scrollable]="true"
           selectionMode="single" (onRowSelect)="onSelect($event.data)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:25%">Title</th>
        <th style="width:15%">Author</th>
        <th style="width:35%">Description</th>
        <th style="width:10%">Image</th>
        <th style="width:15%">Published</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article>
      <tr [pSelectableRow]="article">
        <td> {{article.title}} </td>
        <td> {{article.author}} </td>
        <td> {{article.description}} </td>
        <td>
          <img #img [src]="article.urlToImage" (error)="onImageError(img)"
               width="200" height="150" alt="" class="article-image"/>
        </td>
        <td>{{ article.publishedAt | date: 'fullDate'}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="floating-button">
  <p-button icon="pi pi-plus" [rounded]="true" severity="success" size="large" (onClick)="createArticle()"></p-button>
</div>
