.container {
  padding: 32px
}

.article-image {
  object-fit: cover;
}

.floating-button {
  position: fixed;
  z-index: 10;
  bottom: 32px;
  right: 32px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
