.container {
  padding: 32px
}

.brand {
  margin: 0;

  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 400;

  letter-spacing: 6px;

  text-align: center;
  text-transform: uppercase;
}

.article-image {
  object-fit: cover;
}

.p-toolbar-group-start {
  margin-left: 16px
}

.p-toolbar-group-end {
  margin-right: 16px
}

.floating-button {
  position: fixed;
  z-index: 10;
  bottom: 32px;
  right: 32px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
